# -*- Mode: makefile; -*- #

SHELL := /bin/bash

uname := $(shell uname)

ifneq (,$(findstring CYGWIN_NT,$(uname)))
  TARG := Win32
endif
ifneq (,$(findstring MINGW32_NT,$(uname)))
  TARG := Win32
endif

TARG ?= $(uname)

# Java is "special" in many ways, doesn't use pkg-config: requires
# per-platform hacks.

JAVA := $(findstring Java,$(USES))
USES := $(filter-out Java,$(USES))

current_dir := $(dir $(CURDIR)/$(lastword $(MAKEFILE_LIST)))
include $(current_dir)defs.$(TARG)

ifneq (,$(JAVA))
JAVAC ?= $(JAVA_HOME)/bin/javac
endif

PREFIX ?= /usr/local
BINDIR ?= $(PREFIX)/bin
LIBDIR ?= $(PREFIX)/lib
DATADIR ?= $(PREFIX)/share

libfiles := $(foreach x,$(LIBS),$(so_pfx)$(x)$(so_sfx))
prgfiles := $(foreach x,$(PROGRAMS),$(x)$(exe_sfx))
tstfiles := $(foreach x,$(TESTS),$(x)$(exe_sfx))

CFLAGS += -MMD -O3 -Wall
CXXFLAGS += -std=c++14 -MMD -O3 -Wall

ifneq (,$(USES))
CFLAGS += $(shell PKG_CONFIG_PATH=$(pkg_config_path) pkg-config --cflags $(USES))
CXXFLAGS += $(shell PKG_CONFIG_PATH=$(pkg_config_path) pkg-config --cflags $(USES))
LDFLAGS += $(shell PKG_CONFIG_PATH=$(pkg_config_path) pkg-config --libs $(USES))
endif

#############################################################################

%.o: %.mm
	$(CXX) -o $@ -fPIC $(CPPFLAGS) $(CXXFLAGS) -c $<

%.o: %.m
	$(CC) -o $@ -fPIC $(CPPFLAGS) $(CFLAGS) -c $<

#############################################################################

ifneq (,$(BUNDLE_PREFIX))
# Bundle for NeXTSTEP, OPENSTEP, GNUstep, and their lineal descendants
# macOS and iOS.

bundle_dir = $(BUNDLE_PREFIX)/Contents
bundle_bin_dir = $(bundle_dir)/MacOS
bundle_lib_dir = $(bundle_dir)/lib
bundle_dat_dir = $(bundle_dir)/share

bundle_all_dirs = $(bundle_bin_dir) $(bundle_lib_dir) $(bundle_dat_dir)

bundle:: all

$(bundle_all_dirs)::
	mkdir -p $@
endif

#############################################################################

all:: $(libfiles) $(prgfiles)

check:: all $(tstfiles)

install:: all

ifneq (,$(libfiles))
install:: $(libfiles) $(LIBDIR)
	cp $(libfiles) $(LIBDIR)
ifneq (,$(bundle_lib_dir))
	cp $(libfiles) $(bundle_lib_dir)
endif
endif

ifneq (,$(prgfiles))
install:: $(prgfiles) $(BINDIR)
	cp $(prgfiles) $(BINDIR)
ifneq (,$(bundle_bin_dir))
	cp $(prgfiles) $(bundle_bin_dir)
endif
endif

ifneq (,$(DATA))
install:: $(DATA) $(DATADIR)
	cp -r $(DATA) $(DATADIR)
ifneq (,$(bundle_dat_dir))
	cp -r $(DATA) $(bundle_dat_dir)
endif
endif

ifneq (,$(tstfiles))
tests: all $(tstfiles)

install-tests:: all $(tstfiles) $(BINDIR)
	cp $(tstfiles) $(BINDIR)
endif

$(BINDIR) $(LIBDIR) $(DATADIR):
	mkdir -p $@

#############################################################################

define test_cmd
$(1)_STEMS += $(1)

check:: $(1)$(exe_sfx)
	time ./$(1) ;

vg:: $(1)$(exe_sfx)
	valgrind $(VGFLAGS) ./$(1) ;
endef

$(foreach t,$(TESTS),$(eval $(call test_cmd,$(t))))

#############################################################################

define link_cmd
$(1)_all_stems := $$($(1)_STEMS)
$(1)_objs := $$(patsubst %,%$(o_sfx),$$($(1)_all_stems))
$(1)_deps := $$(patsubst %,%.d,$$($(1)_all_stems))

-include $$($(1)_deps)

$(1)$(exe_sfx): $$($(1)_objs) $$($(1)_EXTRAS) $(libfiles)
	$(CXX) -o $$@ $$^ $(LDFLAGS) $(LDLIBS) -L. $(foreach l,$(LIBS),-l$(l))

clean::
	rm -f $(1)$(exe_sfx) $$($(1)_objs) $$($(1)_deps)
endef

$(foreach prog,$(PROGRAMS),$(eval $(call link_cmd,$(prog))))
$(foreach prog,$(TESTS),$(eval $(call link_cmd,$(prog))))

#############################################################################

define lib_cmd
$(1)_all_stems := $$($(1)_STEMS)
$(1)_objs := $$(patsubst %,%$(o_sfx),$$($(1)_all_stems))
$(1)_deps := $$(patsubst %,%.d,$$($(1)_all_stems))

-include $$($(1)_deps)

$(so_pfx)$(1)$(so_sfx): $$($(1)_objs)
	$(CXX) -shared -o $$@ $$^ $(LDFLAGS) $(TARGET_ARCH) $(LOADLIBES) $(LDLIBS)

clean::
	rm -f $(so_pfx)$(1)$(so_sfx) $$($(1)_objs) $$($(1)_deps)
endef

$(foreach lib,$(LIBS),$(eval $(call lib_cmd,$(lib))))

#############################################################################

dump::
ifneq (,$(JAVA))
	@echo "Using JAVA"
endif
	@echo JAVA_HOME == $(JAVA_HOME)
	@echo MAKEFILE_LIST == $(MAKEFILE_LIST)
	@echo .INCLUDE_DIRS == $(.INCLUDE_DIRS)
	@echo USES == $(USES)
	@echo PROGRAMS == $(PROGRAMS)
	@echo LIBS == $(LIBS)
	@echo TESTS == $(TESTS)
	@echo CFLAGS == $(CFLAGS)
	@echo CXXFLAGS == $(CXXFLAGS)
	@echo LDFLAGS  == $(LDFLAGS)

define dump_template
dump::
	@echo
	@echo $(1)_all_stems == $$($(1)_all_stems)
	@echo $(1)_objs == $$($(1)_objs)
	@echo $(1)_deps == $$($(1)_deps)
endef

$(foreach x,$(PROGRAMS),$(eval $(call dump_template,$(x))))
$(foreach x,$(LIBS),$(eval $(call dump_template,$(x))))
$(foreach x,$(TESTS),$(eval $(call dump_template,$(x))))

.PHONY:: all check dump install install-tests tests
